<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Udlånskvittering</title>
    <style
    >
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 800px;
        margin: 20px auto;
        background: #ffffff;
        padding: 0 2rem;
        border: 1px solid #dddddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .header {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .header img {
        max-width: 200px;
      }
      .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 25px;
        text-align: center;
      }
      .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 0 2rem;
      }
      .info div {
        width: 48%;
      }
      .info div div {
        display: flex;
        width: 100%;
        {{! justify-content: space-between; }}
        margin-bottom: 5px;
        margin: 16px 0;
      }
      .info div div span {
        font-weight: bold;
        width: 40%;
      }
      .info div div p {
        margin: 0;
        font-size: 16px;
      }
      .products {
        margin-top: 20px;
      }
      .products h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .product-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 4px;
        padding: 3px;
      }
      .product-item p {
        margin: 0;
        flex: 1;
      }
      .barcode {
        margin-left: 10px;
      }
      .footer {
        margin-top: 60px;
        text-align: center;
        font-size: 12px;
        color: #777777;
      }
      .line {
        border-top: 1.5px solid #aaaaaa;
        margin: 20px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img
          src="https://bb.sde.dk/img/sde-logotype.png"
          alt="Syddansk Erhvervsskole Logo"
        />
      </div>

      <div class="line"></div>

      <div class="title">Udlånskvittering</div>

      {{!-- <div class="line"></div> --}}

      <div class="info">
        <div>
          <div>
            <span>Låner:</span>
            <p>{{users_loans_user_idTousers.username}}</p>
          </div>
          <div>
            <span>Udlåner:</span>
            <p>
              {{#if helpdesk_personel}}
                {{helpdesk_personel.username}}
              {{else}}
                Ingen
              {{/if}}
            </p>
          </div>

        </div>
        <div>
          <div>
            <span>Udlånsdato:</span>
            <p>{{date_created}}</p>
          </div>
          <div>
            <span>Afleveringsdato:</span>
            <p>{{return_date}}</p>
          </div>
        </div>
      </div>

      <div class="line"></div>

      <div class="products">
        <h3>Produkter:</h3>
        {{#each itemsInLoan}}
          <div class="product-item">
            <p>{{this.Produkt}}</p>
          </div>
        {{/each}}
      </div>
      <div class="footer">
        <p>Udlånskvittering udskrevet fra SDE Udlånsportal</p>
      </div>
    </div>
  </body>
</html>